*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif; ;
}

.LandingPageContainer{
    height: 100vh;
    width: 100vw;
    background: url(/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: White;
}

.navHeader h2{
    font-size: 2rem;
    font-weight: 700;
}

.LandingPageContainer nav{
    padding-inline: 1.2rem;
    padding-block: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.navList{
    display: flex;
    gap: 1.8rem;
    align-items: center;
    cursor: pointer;
}

.landingMainContainer {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    /* padding-top: 8vh; */
    height: 80vh;
    align-items: center;
}

.landingMainContainer > div:nth-child(2) img{
    height: 70vh;
    width: auto;
    max-width: 100%;
}

.landingMainContainer > div:nth-child(1) {
    font-size: 1.8rem;
}

.authBtn{
    background-color: #d97500;
    width: fit-content;
    border-radius: 10px;
    padding: 0.6rem;
    text-decoration: none;
    margin-top: 1.3rem;
}

.authBtn a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
}

.logBtn{
    background-color: #d97500;
    width: fit-content;
    border-radius: 7px;
    padding: 0.6rem;
}